body{
    background-color: black;
}

.cabecera {
    outline: 2px solid;
    outline-color: white;
    margin: 0;
    padding: 2%;
    background-color: aqua;
    text-align: center;
    margin-bottom: 1%;
}

.nav{
    outline: 2px solid;
    outline-color: white;
    margin: 0;
    padding: 0;
    background-color: aqua;
    text-align: center;
    margin-top: 1%;
}

.articulo{
    margin-top: 1%;
    outline: 1px solid;
    outline-color: white;
    width: 72%;
    background-color: aqua;
    text-align: center;
    padding: 2%;
}

.section{
    margin-top: 4%;
    color: white !important;
    text-align: center;
}

.aside{
    width: 215px;
    height: 215px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid #383838;
    margin-left: 77%;
    margin-top: 16%;
}

.articuloaside{
    margin-top: 1%;
    outline: 1px solid;
    outline-color: white;
    width: 125%;
    height: 39%;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    margin-left: 1%;
}

.footer{
    outline: 2px solid;
    outline-color: white;
    height: 42px;
    position: fixed;
    bottom: 0;
    background-color: aqua;
    z-index: 1;
    color: black !important;
    width: 99%;
    text-align: center;
}